services:
  db:
    container_name: database
    image: postgres
    restart: unless-stopped
    ports:
      - "${DATABASE_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    env_file:
      - .env

  backend:
    container_name: bcknd
    build: ./Bck/Backendfoca
    ports:
      - "8000:8080"
    restart: unless-stopped
    environment:
      POSTGRES_URL: ${POSTGRES_URL}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      WEBAPI_PORT: "8080"
    env_file:
      - .env

  frontend:
    container_name: frntd
    build: ./Frt/Mobilefoca
    environment:
      API_URL: "http://bcknd:8080"
    ports:
      - "9000:80"
    restart: unless-stopped

